services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"   # opcional (solo si quieres conectarte desde tu PC)

  api:
    build: ./api
    environment:
      PGHOST: db
      PGPORT: 5432
      PGUSER: postgres
      PGPASSWORD: postgres
      PGDATABASE: appdb
    ports:
      - "3000:3000"
    depends_on:
      - db

volumes:
  pgdata:
